html {
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

div.image {
    display: flex;
    justify-content: center;
    position: relative;
}

img {
    padding-top: 45px;
    height: 40rem;
    width: 40rem;
}

@media screen and (max-width: 680px) {
    div.image {
        justify-content: center;
        align-items: center;
    }

    img {
        padding-top: 7rem;
        height: 20rem;
        width: 20rem;
    }
}